.boxShadow {
  position: relative;
  overflow: hidden; /* Ensures the shadows don't spill outside the container */
}

.boxShadow::before,
.boxShadow::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%; /* Adjust the width of the shadow here */
  height: 100%;
  z-index: 10; /* Ensure it's above the splide content */
}

.boxShadow::before {
  left: 0;
  background: linear-gradient(
    to right,
    black,
    rgba(0, 0, 0, 0)
  ); /* Gradient from left to right */
}

.boxShadow::after {
  right: 0;
  background: linear-gradient(
    to left,
    black,
    rgba(0, 0, 0, 0)
  ); /* Gradient from right to left */
}
